@import "tailwindcss";

@theme {
  --animate-fadeIn: fadeIn 1s ease-in-out;
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@layer components {
  .hide-scroll {
    /* 웹킷 브라우저 (Chrome, Safari) */
    &::-webkit-scrollbar {
      display: none;
    }

    /* 기타 브라우저 */
    &::scroll {
      display: none;
    }
  }
}
